/*
------ Built by KaazDW --------   
------------12-2022------------
-----All right reserved--------
------github.com/kaazdw--------
*/
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/*
font-family: 'Comfortaa', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  user-select: none;
}
* a {
  text-decoration: none;
  color: white;
}

:root {
  --color-element: #2c2c2c;
  --color-background: #111;
  --color-grey: rgb(92, 92, 92);
  --color-lightgrey: rgb(50, 50, 50);
}

body {
  background-color: var(--color-background);
  font-family: "Poppins", sans-serif;
  margin: auto;
  letter-spacing: 0.8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .ptext {
  position: absolute;
  top: 10px;
  left: 10px;
}
body main {
  border: 1px solid var(--color-lightgrey);
  border-radius: 10px;
  padding: 5px;
  margin-top: 75px;
}
body main header {
  user-select: none;
  margin-bottom: 25px;
}
body main header ul {
  display: flex;
}
body main header ul li {
  margin-top: 10px;
}
body main header ul a {
  margin: 3px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}
body main header ul a:hover {
  background-color: var(--color-lightgrey);
  cursor: pointer;
}
body main section#index {
  width: 500px;
  text-align: center;
  animation: openIndex 1.3s;
  margin-top: 35px;
  padding-bottom: 10px;
}
body main section#index img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
body main section#index h3 {
  color: var(--color-grey);
  margin-top: -5px;
}
body main section#index h4 {
  margin-top: 30px;
}
body main section#index p {
  text-align: left;
  margin: 25px 30px;
}
body main section#index p #age {
  padding: 1px 6px;
  margin: 0 6px;
  border-radius: 3px;
  border: 1px solid var(--color-grey);
  cursor: crosshair;
}
body main section#index p #day {
  position: absolute;
  opacity: 0;
  margin-top: -40px;
  margin-left: -100px;
  background-color: rgb(53, 53, 53);
  padding: 2px 5px;
  border: 1px solid var(--color-grey);
  border-radius: 5px;
  transition: opacity ease 1s;
}
body main section#index p #age:hover ~ #day {
  opacity: 1;
  animation: openDay 0.3s;
}
body main section#index div.link {
  margin-top: 35px;
  margin-bottom: 15px;
}
body main section#index div.link a {
  border: 1px solid transparent;
  transition: 0.4s;
  margin: 0 5px;
  padding: 0 10px;
}
body main section#index div.link a img {
  border-radius: 0px;
  margin: 5px;
  height: 50px;
  width: 50px;
}
body main section#index div.link a:hover {
  border-top: 1px solid var(--color-lightgrey);
  border-bottom: 1px solid var(--color-lightgrey);
  border-radius: 25px;
}
body main section#project section.desktop {
  width: 600px;
  animation: openProject 1.3s;
  padding-bottom: 25px;
}
body main section#project section.desktop p {
  margin-top: 15px;
  margin-left: 38px;
  color: rgb(167, 167, 167);
}
body main section#project section.desktop p.bottom-text {
  animation: openT 3s;
}
body main section#project section.desktop div.container {
  display: flex;
  width: 90%;
  margin: 5px auto;
  white-space: nowrap;
}
body main section#project section.desktop div.container div#card1 div p {
  height: 43%;
}
body main section#project section.desktop div.container div.card {
  height: 450px;
  width: 33%;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid var(--color-lightgrey);
  transition: 0.5s;
  flex-direction: column;
  align-items: center;
}
body main section#project section.desktop div.container div.card img {
  height: 100px;
  border-radius: 4px 4px 0 0;
  object-fit: cover;
  width: 100%;
}
body main section#project section.desktop div.container div.card h3 {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  margin: auto;
}
body main section#project section.desktop div.container div.card div#minimized1 {
  margin-top: -10px;
}
body main section#project section.desktop div.container div.card div#minimized1, body main section#project section.desktop div.container div.card div#minimized2, body main section#project section.desktop div.container div.card div#minimized3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section#project section.desktop div.container div.card div#minimized1 p, body main section#project section.desktop div.container div.card div#minimized2 p, body main section#project section.desktop div.container div.card div#minimized3 p {
  color: var(--color-lightgrey);
}
body main section#project section.desktop div.container div.card div {
  width: 100%;
  height: 100%;
  animation: openDay 1s;
}
body main section#project section.desktop div.container div.card div p {
  margin: 10px 10px;
  height: 48%;
  font-size: 14px;
  color: rgb(165, 165, 165);
  white-space: normal;
}
body main section#project section.desktop div.container div.card div footer {
  text-align: center;
}
body main section#project section.desktop div.container div.card div footer div {
  margin-bottom: 5px;
}
body main section#project section.desktop div.container div.card div footer div span {
  border: 1px solid var(--color-lightgrey);
  padding: 1px 3px;
  line-height: 30px;
}
body main section#project section.desktop div.container div.card:nth-child(2) {
  width: 65%;
}
body main section.mobile {
  display: none;
}

@keyframes openProject {
  from {
    width: 500px;
    height: 482px;
    opacity: 0;
  }
  to {
    width: 600px;
    height: 548px;
    opacity: 1;
  }
}
@keyframes openIndex {
  from {
    width: 600px;
    height: 548px;
    opacity: 0;
  }
  to {
    width: 500px;
    height: 487px;
    opacity: 1;
  }
}
@keyframes openDay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes openT {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 630px) {
  body {
    align-items: flex-start;
    margin-top: -35px;
  }
  body main {
    width: 90vw;
    margin-top: 50px;
  }
  body main header ul {
    justify-content: space-between;
  }
  body main section#index {
    animation: none;
    animation: openDay 0.5s;
    width: 100%;
    display: block;
    padding-bottom: 0;
  }
  body main section#index p {
    margin: 20px auto;
    width: 100%;
    text-align: center;
    white-space: break-spaces;
  }
  body main section#index div.link {
    width: 70vw;
    margin: 20px auto;
    line-height: 120px;
    margin-top: 90px;
  }
  body main section#index div.link a {
    margin: 25px;
  }
  body main section#project {
    margin: auto;
    width: 100%;
  }
  body main section#project section.desktop {
    display: none;
  }
  body main section#project section.mobile {
    display: block;
    animation: none;
    padding-bottom: 25px;
  }
  body main section#project section.mobile p {
    margin-top: 15px;
    margin-left: 8px;
    color: rgb(167, 167, 167);
  }
  body main section#project section.mobile p.bottom-text {
    animation: openT 3s;
    width: 80vw;
    margin: 15px auto;
  }
  body main section#project section.mobile div.container {
    display: flex;
    flex-direction: column;
  }
  body main section#project section.mobile div.container div#card1 div p {
    height: 33%;
  }
  body main section#project section.mobile div.container div.card {
    height: 400px;
    width: 96%;
    margin: 5px 5px;
    border-radius: 5px;
    border: 1px solid var(--color-lightgrey);
    transition: 0.5s;
    flex-direction: column;
    align-items: center;
  }
  body main section#project section.mobile div.container div.card img {
    height: 100px;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
    width: 100%;
  }
  body main section#project section.mobile div.container div.card h3 {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    margin: auto;
  }
  body main section#project section.mobile div.container div.card div {
    width: 100%;
    height: 100%;
    animation: openDay 1s;
  }
  body main section#project section.mobile div.container div.card div p {
    margin: 10px 10px;
    height: 38%;
    font-size: 14px;
    color: rgb(165, 165, 165);
    white-space: normal;
  }
  body main section#project section.mobile div.container div.card div footer {
    text-align: center;
  }
  body main section#project section.mobile div.container div.card div footer div {
    margin-bottom: 5px;
  }
  body main section#project section.mobile div.container div.card div footer div span {
    border: 1px solid var(--color-lightgrey);
    padding: 1px 3px;
    line-height: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
