@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600;700&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*
font-family: 'Comfortaa', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    color:white;
    a{text-decoration: none; color: white;}
    list-style: none;
    user-select: none;
}

:root{
    --color-element: #2c2c2c;
    // --color-background: #0d1116;
    --color-background: #111;
    --color-grey: rgb(92, 92, 92);
    --color-lightgrey: rgb(50, 50, 50);
}

body{
    background-color: var(--color-background);
    font-family: 'Poppins', sans-serif;
    width: 60vw;
    height: 100vh;
    margin: auto;
    letter-spacing: .8px;
    display: flex;
    justify-content: center;
    align-items: center;
    main{
        // height: 100%;
        border: 1px solid var(--color-lightgrey);
        border-radius: 10px;
        padding: 5px;
        margin-top: -150px;
        header{
            user-select: none;
            margin-bottom: 25px;
            ul{
                display: flex;
                li{
                    margin-top: 10px
                }
                a{
                    margin: 3px;
                    padding: 8px 12px;
                    border-radius: 5px;
                    transition: .3s;
                }
                a:hover{
                    background-color: var(--color-lightgrey );
                    cursor: pointer;
                }
            }
        }
        section#index{
            // background-color: green;
            width: 500px;
            text-align: center;
            animation: openIndex 1.3s;
            margin-top: 35px;
            padding-bottom: 10px;
            img{
                height: 100px;
                width: 100px;
                border-radius: 50px;
            }
            h3{
                color: var(--color-grey);
                margin-top: -5px;
            }
            h4{
                margin-top: 30px;
            }
            p{
                text-align: left;
                margin: 25px 30px;
                #age{
                    padding: 1px 6px;
                    margin: 0 6px;
                    border-radius: 3px;
                    border: 1px solid var(--color-grey);
                    cursor: crosshair;
                }                  
                #day{
                    // visibility: hidden;
                    position: absolute;
                    opacity: 0;
                    margin-top: -40px;
                    margin-left: -100px;
                    background-color: rgb(53, 53, 53);
                    // backdrop-filter: blur(15px);
                    padding: 2px 5px;
                    border: 1px solid var(--color-grey);
                    border-radius: 5px;
                    // transition: .5s ease-out
                    transition: opacity ease 1s;
                }
                #age:hover ~ #day{
                    // visibility: visible;
                    opacity: 1;
                    animation: openDay .3s;
                }
            }
            div{
                margin-top: 35px;
                margin-bottom: 15px;
                a{
                    border: 1px solid transparent;
                    transition: .4s;
                    margin: 0 5px;
                    padding: 0 10px;
                    padding-top: 55px;
                    img{
                    border-radius: 0px;
                    margin: 5px;
                    height: 50px;
                    width: 50px;
                    }
                }
                a:hover{
                    // border: 1px solid var(--color-lightgrey);
                    border-top: 1px solid var(--color-lightgrey);
                    border-bottom: 1px solid var(--color-lightgrey);
                    border-radius: 25px;
                }
            }
        }
        section#project{
            section.desktop{
                // height: 100px;
                width: 600px;
                animation: openProject 1.3s;
                padding-bottom: 25px;
                p{
                    margin-top: 15px;
                    margin-left: 38px;
                    color:rgb(167, 167, 167);
                }
                p.bottom-text{
                    animation: openT 3s;
                }
                div.container{
                    display: flex;
                    width: 90%;
                    margin: 5px auto;
                    white-space: nowrap;
                    div#card1{ //style for cards with 2 lines of technologies
                        div{
                            p{
                                height: 43%;
                            }
                        }
                    }
                    div.card{
                        height: 450px;
                        width: 33%;
                        margin: 0 5px;
                        border-radius: 5px;
                        border: 1px solid var(--color-lightgrey);
                        transition: .5s;
                        flex-direction: column;
                        align-items: center;
                        img{
                            height: 100px;
                            border-radius: 4px 4px 0 0;;
                            object-fit: cover;
                            width: 100%;
                        }
                        h3{
                            text-align: center;
                            text-transform: uppercase;
                            transition: .5s ease-in-out;
                            margin: auto;
                        }
                        div#minimized1, div#minimized2, div#minimized3 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                        }
                        div{
                            width: 100%;
                            height: 100%;
                            animation: openDay 1s;

                            p{
                                margin: 10px 10px;
                                height: 48%;
                                // width: 100%;
                                font-size: 14px;
                                color: rgb(165, 165, 165);
                                // word-break: normal;
                                white-space: normal;
                            }  
                            footer {
                                text-align: center;
                                div{
                                    margin-bottom: 5px;
                                    span{
                                        border: 1px solid var(--color-lightgrey);
                                        padding: 1px 3px;
                                        line-height: 30px;
                                    }
                                }
                            }
                        }

                    }
                    div.card:nth-child(2){ //for the first open card
                        width: 65%;
                    }
                }
            }
        }
        section.mobile{
            display: none;
        }

    }
}
@keyframes openProject{
    from{
        width: 500px;
        height: 482px;
        opacity: 0;
    }
    to{
        width: 600px;
        height: 548px;
        opacity: 1;
    }
}
@keyframes openIndex{
    from{
        width: 600px;
        height: 548px;
        opacity: 0;
    }    
    to{
        width: 500px;
        height: 487px;
        opacity: 1;
    }
}
@keyframes openDay {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes openT {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media (max-width: 630px) { 
    body{
        height: 100vh;
        width: 100vw;
        align-items: flex-start;
        margin-top: -35px;
        main{
            width: 95vw;
            margin-top: 50px;
            margin-left: 25px;
            header{
                ul{
                    justify-content: space-between;
                }   
            }
            section#index{
                animation: none;
                animation: openDay .5s;
                width: 100vw;
                p{
                    margin: 20px auto;
                    width: 90vw;
                    white-space: break-spaces;
                }
                div.link{
                    width: 70vw;
                    margin: 55px auto;
                    line-height: 150px;
                    a{
                        margin: 25px;
                    }
                }
            }
            section#project{
                margin: auto;
                width: 100vw;
                section.desktop{
                    display: none;
                }
                section.mobile{
                    display: block;
                    animation: none;
                    padding-bottom: 25px;
                    p{
                        margin-top: 15px;
                        margin-left: 8px;
                        color:rgb(167, 167, 167);
                    }
                    p.bottom-text{
                        animation: openT 3s;
                        width: 80vw;
                        margin: 15px auto;
                    }
                    div.container{
                        display: flex;
                        flex-direction: column;
                        div#card1{ //style for cards with 2 lines of technologies
                            div{
                                p{
                                    height: 33%;
                                }
                            }
                        }
                        div.card{
                            height: 400px;
                            width: 92vw;
                            margin: 5px 5px;
                            border-radius: 5px;
                            border: 1px solid var(--color-lightgrey);
                            transition: .5s;
                            flex-direction: column;
                            align-items: center;
                            img{
                                height: 100px;
                                border-radius: 4px 4px 0 0;;
                                object-fit: cover;
                                width: 100%;
                            }
                            h3{
                                text-align: center;
                                text-transform: uppercase;
                                transition: .5s ease-in-out;
                                margin: auto;
                            }
                            div{
                                width: 100%;
                                height: 100%;
                                animation: openDay 1s;
                                p{
                                    margin: 10px 10px;
                                    height: 38%;
                                    // width: 100%;
                                    font-size: 14px;
                                    color: rgb(165, 165, 165);
                                    // word-break: normal;
                                    white-space: normal;
                                }  
                                footer {
                                    text-align: center;
                                    div{
                                        margin-bottom: 5px;
                                        span{
                                            border: 1px solid var(--color-lightgrey);
                                            padding: 1px 3px;
                                            line-height: 30px;
                                        }
                                    }
                                }
                            }

                        }
                        // div.card:nth-child(2){ //for the first open card
                        //     width: 65%;
                        // }
                    }
                }
            }
        }
    }
}
